/.pytest_cache
/test_ssh_pattern__01.py
/test_ssh_pattern__02.py
/test_ssh_pattern__03.py
/test_ssh_pattern__04.py
/test_ssh_pattern__05.py
/test_ssh_pattern__06.py
/test_ssh_pattern__07.py
/test_ssh_pattern__08.py
/__pycache__